.btn {
  display: inline-block;
  padding: 16px 18px;
  line-height: 1;
  cursor: pointer;
  font-size: 15px;
  color: $bg-color;

  &.btn-transparent {
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: transparent;
  }

  &.btn-accent {
    font-size: 15px;
    font-weight: 600;
    line-height: 1,2;
    color: $default-color;
    background-color: $accent-color;
    padding: 20px 30px;
    border: none;
  }
}
