.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 45px 0 45px 85px;
  background-color: transparent;

  @media (max-width: 1729px) {
    padding: 10px 0 10px 50px;
  }

  &__desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @media (max-width: 1729px) {
      display: none;
    }
  }

  &__logo-container {
    width: 263px;
    height: 46px;

    @media (max-width: 1729px) {
      width: 238px;
      height: 42px;

      & img {
        width: 238px;
        height: 42px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 32px;
  }

  &__item {
    cursor: pointer;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -1px;

    a {
      color: $default-color;
    }
  }

  &__link {
    display: block;
    transition: all 0.2s ease;

    // active link
    &.isActive,
    &.router-link-active,
    &.router-link-exact-active {
      text-decoration: none;
    }
  }

  &__btn-list {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    z-index: 10;
  }

  &__lang {
    padding: 20px 15px;
    background-color: $default-color;
  }

  &__icon-container {
    display: flex;
    gap: 10px;
  }

  &__icon {
    width: 39px;
    height: 18px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }

  &__mobile {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.9;
    padding: 10px 0 10px 50px;

    @media (max-width: 1729px) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .navbar__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
      }

      & .navbar__item {
        margin-right: 0;
        font-size: 24px;
        line-height: 18px;
        font-weight: 300;
        letter-spacing: 0.2;
      }

      & .navbar__btn-list {
        z-index: 10;
        gap: 1px;
      }
    }

    & .navbar__list-container {
      background-color: rgba(255, 124, 64, 0.99);
      margin-top: 0;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      padding-top: 148px;
      padding-bottom: 60px;
      transition: transform 0.3s ease;
    }

    & .navbar__list-wrapper {
      padding-left: 50px;
      padding-right: 50px;
    }

    & .navbar__copyright {
      color: $default-color;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      margin-top: 510px;
    }
  }
}

.navbar-toggle {
  display: none;
  width: 107px;
  height: 58px;
  border: none;

  @media (max-width: 1729px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 100%;
    height: 100%;

    &--open {
      padding-top: 17px;
      background-color: $default-color;
    }

    &--close {
      padding-top: 21px;
      background-color: $accent-color;
    }
  }
}
