.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 20px 0;
  background-color: transparent;
  max-width: 1730px;
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  color: $g-999;
  font-weight: 700;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item {
  margin-right: 30px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
}

.navbar-link {
  display: block;
  transition: all 0.2s ease;
  color: $purple-color-100;
  // active link
  &.isActive,
  &.router-link-active,
  &.router-link-exact-active {
    text-decoration: underline;
  }
}
